@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
$font-stack: 'Roboto', sans-serif
$primary-color: #adadad
    
body 
    width: 100%
    height: 100%
    padding: 0
    margin: 0

.wrapper
    background-image: url(/home/arthur/SLanding/src/img/bgcontent.jpg)
    background-repeat: repeat-x repeat-y
    padding-top: 119px 

.header
    width: 100vw
    height: 119px
    background-color: #222
    border-bottom: 1px solid #666
    position: fixed
    z-index: 1000

.logo 
    display: inline-block
    width: 300px
    height: 119px
    filter: invert(1)
    background-image: url(/home/arthur/SLanding/src/img/logo.svg)
    background-size: 200% 200%
    background-position: 50% 50%

.header-content
    display: grid
    grid-template-columns: 300px 1fr
    padding-left: 14.5vw
    padding-right: 15.5vw

.menu
    display: none
    transition: 1s

.menu-nav-list
    display: none
    margin: 0
    padding-left: 0
    background-color: #222  
    transition: 1s
    min-width: 170px

.menu-nav-list__item
    display: block
    font: 14px $font-stack
    padding-top: 0
    padding-bottom: 0
    padding-left: 15px
    padding-right: 15px
    color: $primary-color
    transition: 1s

.menu-nav-list__link
    display: grid
    grid-template-columns: 41.8px 90%
    justify-items: start
    grid-gap: 5px
    align-items: center
    padding-bottom: 10px

.menu-nav-list__link p 
    padding: 0
    margin: 0

.menu-nav-list__img
    width: 28px
    height: 28px
    // padding-left: 6.9px
    filter: invert(1)

.menu-nav-list__voir
    height: 28px
    filter: grayscale(100%) brightness(95%) contrast(156%) invert(100%)

.nav-list__link p
    display: inline  
    margin-bottom: 0 

.nav-list__link
    display: grid
    grid-template-rows: 28px 19px

.nav-list
    margin: 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    padding-left: 0
    min-width: 470px

.nav-list__item
    display: grid
    align-items: center
    font: 16px $font-stack
    color: $primary-color

.voir-nav-list__link
    display: grid
    grid-template-rows: 28px 19px

// .voir-nav-list__link p
//     margin-bottom: 0 
.main-content__title2
    margin: 0
    font: 26px $font-stack
    padding-left: 2vw
    padding-right: 2vw
    padding-bottom: 20vh
    font-weight: bold
    text-align: center
    color: #fefefe
    opacity: 0.6

.main-wrapper
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    height: 75vh

.voir-menu-nav-list__name
    padding-left: 20px

.main-overlay
    margin: 0
    width: 70vw
    height: 100%
    background-image: url(/home/arthur/SLanding/src/img/bg.jpg)
    background-size: cover
    border-bottom: 1px solid #666

.main-content
    margin: 0
    width: 70vw
    background-color: rgba(0, 0, 0, 0.5)
    height: 75vh

.main-content__title
    margin: 0
    font: 26px $font-stack
    color: white
    padding-left: 2vw
    padding-right: 2vw
    // padding-top: 20vh
    padding-bottom: 20vh
    font-weight: bold
    text-align: center

.main-content__text
    display: grid
    grid-template-rows: 100%
    justify-content: center
    align-items: start
    margin: 0
    font: 16px $font-stack
    color: white
    padding-left: 10vw
    padding-right: 10vw
    padding-bottom: 20px
    text-align: center

.buttons
    text-align: center
    padding-top: 20px
    padding-bottom: 20px

a.button1
    font: 16px $font-stack
    display: inline-block
    color: white
    font-weight: 700
    text-decoration: none
    user-select: none
    padding: .5em 2em
    outline: none
    border: 2px solid
    border-radius: 1px
    transition: 0.2s
    background-color: #222
    width: 150px

a.button2 
    font: 16px $font-stack
    display: inline-block
    color: white
    font-weight: 700
    text-decoration: none
    user-select: none
    padding: .5em 2em
    outline: none
    border: 2px solid
    border-radius: 1px
    transition: 0.2s
    background-color: #222
    width: 150px

a.button1:hover
    background: rgba(255,255,255,1)
    color: black

a.button1:active
    background: white

a.button2:hover
    background: rgba(255,255,255,1)
    color: black

a.button2:active
    background: white

a.button3:hover
    background: rgba(255,255,255,1)
    color: black

a.button3:active
    background: white

.titles-wrapper
    width: 100%
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    padding-top: 20px

.titles-grid
    width: 70vw
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    background-color: #222
    border: 1px solid #666

.projects-content__title
    margin: 0
    font: 26px $font-stack
    color: #adadad
    cursor: pointer
    padding-top: calc((98px - 48px) / 2)
    padding-bottom: calc((98px - 48px) / 2)
    font-weight: bold
    text-align: center

.grid-content
    display: none
    grid-template-columns: 1fr
    justify-items: center
    padding-bottom: 20px
    // background-image: url(/home/arthur/SL/src/img/bgcontent.jpg)
    position: relative

.title-block
    width: 100%
    // height: 100%
    display: grid
    grid-template-rows: 80% 20%
    justify-items: center
    align-items: center
    background-color: #f1f1f1
    border: 1px solid #666

.hex-block
    position: relative
    width: 85px
    height: 98.15px
    padding-top: 10px

.title-block__icon1
    position: absolute
    width: 65px
    height: 55.15px
    padding-top: 25px
    padding-bottom: 5px
    padding-left: 10px
    padding-right: 5px

#title-idea.title-block__icon1
    filter: invert(1)
    

.title-block__icon
    position: absolute
    width: 65px
    height: 55.15px
    padding-top: 20px
    padding-bottom: 5px
    padding-left: 15px
    padding-right: 5px

.grid-content__title
    margin: 0
    height: 100%
    font: 36px $font-stack
    color: black
    padding-bottom: 25px
    font-weight: bold
    text-align: center

.block_content
    display: grid
    grid-template-columns: 100%
    width: 70vw
    border: solid 1px grey

.hex
    position: absolute

.disc-content
    display: grid

.disc
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: space-between
    height: auto
    min-height: 350px
    width: 100%

.disc-сont
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    justify-items: start
    padding: 10px
    padding-left: 50px
    background-color: #f1f1f1

.disc__title
    font: 36px $font-stack
    color: black
    font-weight: bold
    margin-top: 10px
    margin-bottom: 10px
    background-color: #f1f1f1

.disc__text
    display: grid
    justify-items: start
    font: 25px $font-stack
    color: black
    margin-top: 10px
    margin-bottom: 10px
    background-color: #f1f1f1

.disc__img
    height: auto
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    align-items: center
    background-color: #f1f1f1
    padding: 10px
    padding-right: 50px

.disc__img img
    width: 100%
    box-shadow: 0 0 0 3px transparent, 0 0 13px #333

.nti-disc:nth-child(even)
    display: grid
    grid-template-rows: 50% 50%
    justify-content: space-between
    width: 70vw
    border-top: 1px solid #666

.nti-disc-сont
    display: grid
    justify-items: start
    align-items: center
    background-color: #f1f1f1

.nti-disc__title
    font: 36px $font-stack
    color: black
    font-weight: bold
    padding-left: 20px
    padding-right: 20px
    margin-top: 10px
    margin-bottom: 10px
    background-color: #f1f1f1

.nti-disc__text
    font: 25px $font-stack
    color: black
    font-weight: bold
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 10px
    background-color: #f1f1f1

.nti-disc__img
    width: 100%
    height: auto
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    align-items: center
    background-color: #f1f1f1

.nti-disc__img img
    width: 100%
    height: auto

.footer
    background-color: #222

.footer-title
    text-align: center
    font: 36px $font-stack
    color: $primary-color
    font-weight: bold
    margin: 0
    padding: 0

.partners
    display: grid
    grid-template-columns: 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857%
    justify-items: center
    align-items: center 

.partners__img
    width: 50px
    height: 50px 

.partners__img1
    width: 50px
    height: 50px 
    filter: invert(1)

.rights
    text-align: center
    font: 12px $font-stack
    color: white
    font-weight: bold
    margin: 0
    padding: 0
    padding-top: 10px

.news-content
    background-color: transparent
    width: 70vw
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: minmax(300px, 300px)
    justify-content: center

.news-content div:nth-child(6n - 5)   
    grid-column: 1 / span 2

.news-content div:nth-child(6n)   
    grid-column: 3 / 5

.news-block
    position: relative
    width: 100%
    height: 300px
    border: solid 1px grey
    opacity: 1
    transition: opacity .2s ease-out
    -moz-transition: opacity .2s ease-out
    -webkit-transition: opacity .2s ease-out
    -o-transition: opacity .2s ease-out

.news-block:hover
    opacity: 0.7

.news-block__title
    font: 10px $font-stack
    color: white
    font-weight: bold
    position: absolute
    margin-top: 0
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#222 30%,#222)
    z-index: 999
    width: 100%
    height: auto
    text-align: center

.logo-block
    width: 75px
    position: absolute
    bottom: 0
    background-image: linear-gradient(270deg,hsla(0,0%,100%,0) 0,white 30%,white)

.logo-block img
    width: 100%
    height: auto

.news-block__title h3
    margin: 10px

.img-block__image
    width: 100%
    height: 100%
    z-index: 1
    background-position: 50% 50%
    background-size: cover

.news-nav-wrapper
    display: grid
    grid-template-columns: 1fr
    justify-items: center

.news-nav
    // padding-top: 20px
    // padding-bottom: 20px
    background-color: #222
    width: 70vw
    border: solid 1px grey

.news-nav-list__item
    padding-top: 20px
    padding-bottom: 20px
    display: inline
    font: 12px $font-stack
    color: #adadad
    padding-left: 2px
    text-align: center
    cursor: pointer

.news-nav-list__item:hover
    color: #fff

.news-nav-list
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    grid-gap: 5px
    margin: 0
    padding: 0
    justify-content: center

a.button3 
    font: 16px $font-stack
    display: inline-block
    color: white
    font-weight: 700
    text-decoration: none
    user-select: none
    padding: .5em 2em
    outline: none
    border: 2px solid
    border-radius: 1px
    transition: 0.2s
    background-color: #222
    width: 150px

.nav-list__name
    margin-top: 5px
    margin-bottom: 0px

.load-button
    text-align: center
    padding-top: 10px
    padding-bottom: 10px 
    cursor: pointer

.news-wrapper
    // width: 100vw
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    background-size: cover
    padding-top: 20px


.projects-content__title:hover
    color: #fff

a.voir-nav-list__link:link
    text-decoration: none
a.voir-nav-list__link:visited
    text-decoration: none
    color: #adadad
a.voir-nav-list__link:active
    text-decoration: none
a.voir-nav-list__link:hover
    text-decoration: none
    color: #fff

a.nav-list__link:link
    text-decoration: none
a.nav-list__link:visited 
    text-decoration: none
    color: #adadad
a.nav-list__link:active
    text-decoration: none
a.nav-list__link:hover 
    text-decoration: none
    color: #fff

a.menu-nav-list__link:link
    text-decoration: none
a.menu-nav-list__link:visited 
    text-decoration: none
    color: #adadad
a.menu-nav-list__link:active
    text-decoration: none
a.menu-nav-list__link:hover 
    text-decoration: none
    color: #fff

h1 a:link
    text-decoration: none
h1 a:visited 
    text-decoration: none
    color: #adadad
h1 a:active
    text-decoration: none
h1 a:hover 
    text-decoration: none
    color: #fff

.showing
    opacity: 1

.prev
    cursor: pointer
    position: absolute
    border-radius: 0 3px 3px 0
    box-sizing: border-box
    padding: 5px
    width: 50px
    height: 50px
    left: 15vw
    top: 50vh
    background-color: #222

.prev img
    width: 100%
    filter: invert(1)

.next img
    width: 100%
    filter: invert(1)

.next
    cursor: pointer
    position: absolute
    border-radius: 0 3px 3px 0
    box-sizing: border-box
    transform: rotate(180deg)
    padding: 5px
    width: 50px
    height: 50px
    right: 15vw
    top: 50vh
    background-color: #222

.slide-buttons
    width: 100vw
    height: 50px
    position: absolute

.prev:hover, .next:hover 
    background-color: transparent

.prev img:hover, .next img:hover
    filter: invert(0)


.fade 
    -webkit-animation-name: fade
    -webkit-animation-duration: .2s
    animation-name: fade
    animation-duration: .2s


@-webkit-keyframes fade 
    from 
        opacity: .3
    to 
        opacity: 1


@keyframes fade 
    from 
        opacity: .3
    to 
        opacity: 1

@media all and (max-width: 1000px)
    .header-content
        padding-left: 0

@media all and (max-width: 820px)

    .header-content
        padding: 0

    .nav-list
        display: none
        // padding-left: 0

    .block_content
        width: 100vw
    
    .news-content
        width: 100vw
        grid-template-columns: repeat(1, 1fr)
        grid-template-rows: minmax(400px, 400px)

    .news-content div:nth-child(n)   
        grid-column: 1 / 1

    .titles-grid
        width: 100vw

    .news-nav
        width: 100vw

    .main-content
        display: block
        width: 100%
        height: 75vh
        background-color: rgba(0, 0, 0, 0.5)

    .main-overlay
        width: 100vw

    .main-content__title
        font: 3vw $font-stack
        padding-bottom: 5vh

    .buttons
        height: 100%

    .projects-content__title
        font: 1em $font-stack

    .disc:nth-child(odd)
        grid-template-columns: 1fr

    .disc:nth-child(even)
        grid-template-columns: 1fr

    .disc__img
        padding: 10px
        padding-right: 50px
        padding-left: 50px

    .disc__text
        padding-top: 10px
        padding-bottom: 10px
        // padding-left: 50px
        padding-right: 50px

    .nti-disc:nth-child(2n)
        width: 100vw
        grid-template-rows: 30% 70%

    .nti-disc-сont
        display: block
        height: 100%

    .nti-disc__text
        font: 13px $font-stack

    .disc__text
        font: 13px $font-stack

    .partners
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr

    .news-nav-list
        grid-template-columns: 1fr 1fr 1fr

    .news-block
        height: 400px

    .news-block__title
        font: 16px $font-stack

    .prev
        width: 50px
        height: 50px
        left: 0
        top: 105vh

    .next
        width: 50px
        height: 50px
        right: 0
        top: 105vh

    .slide-buttons
        width: 100vw
        height: 50px
        position: absolute
    
    .menu
        display: grid
        justify-items: end

    .menu-img
        width: 150px
        height: 100px
        padding-top: 8.5px
        padding-bottom: 8.5px